@font-face {
    font-family: Gotham;
    font-weight: 100;
    src: url('../assets/fonts/gotham-thin-webfont.ttf');
}

@font-face {
    font-family: Gotham;
    font-weight: 300;
    src: url('../assets/fonts/gotham-light-webfont.ttf');
}

@font-face {
    font-family: Gotham;
    font-weight: 400;
    src: url('../assets/fonts/gotham-book-webfont.ttf');
}

@font-face {
    font-family: Gotham;
    font-weight: 500;
    src: url('../assets/fonts/gotham-medium-webfont.ttf');
}

html, body, .container {
    height: 100%;
}

html {
    background-color: #000;
}

body {
    font-family: 'Gotham', Arial;
    font-size: 12px;
    font-weight: 400;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.container > * {
    flex: 1;
}

input {
    font-family: 'Gotham', Arial;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border: 0 none;
    letter-spacing: 0.1em;
    -webkit-appearance: none;
    border-radius: none;
    background-color: transparent;
}

button {
    font-family: 'Gotham', Arial;
    font-size: 14px;
    border: 0;
    margin: 0;
    background-color: #4444ff;
    outline: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1em;
    -webkit-user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: opacity .1s ease;
}

.btn-start {
    background: #4444ff;
}

button:active {
    opacity: .9;
}

.actionbar {
    flex-grow: 0;
    height: 20%;
}

.actionbar .action {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    background-color: #000;
    -webkit-user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color .05s ease;
}

.actionbar .action:active {
    background-color: #222;
}

.actionbar .action .material-icons {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.actionbar #freeze {
    display: none;
}