html, body, #controller {
    height: 100%;
}

#controller {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    background-color: #000;
}

button {
    width: 100%;
    font-size: 14px;
    padding: 20px 0;
    border: 0;
    background-color: #4444ff;
    outline: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: transform .05s ease;
}

button:active {
    transform: scale(.98);
}